<div *ngIf="userProfile" class="user-profile-container">
  <div class="item">
    <h1 class="profile-heading">User profile</h1>
    <mat-card class="profile-card">
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <b>Name: </b>{{ userProfile?.first_name }} {{ userProfile?.last_name }}
          </mat-list-item>
          <mat-list-item role="listitem">
            <b>Email: </b>{{ userProfile?.email }}
          </mat-list-item>
          <mat-list-item role="listitem">
            <b>Phone: </b> {{ userProfile?.phone_number }}
          </mat-list-item>
          <mat-list-item role="listitem">
            <b>Organization name: </b>{{ userProfile?.organization_name }}
          </mat-list-item>
          <mat-list-item role="listitem">
            <b>Organization country: </b>{{ userProfile?.organization_country }}
          </mat-list-item>
          <mat-list-item role="listitem">
            <b>Role: </b>{{ userProfile?.role }}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="item">
    <h1 class="profile-heading">
      TNA Applications
      <button mat-flat-button color="primary" routerLink="/tna/new">Start New Application</button>
    </h1>

    <mat-form-field style="width: 100%; margin-top: 10px;">
      <mat-label>Search</mat-label>
      <input (keyup)="searchChanged($event)" [(ngModel)]="currentSearchTerm" matInput name="searchField" placeholder="Search">
    </mat-form-field>

    <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="customSort($event)">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
<!--        <td mat-cell *matCellDef="let element"><a routerLink="/tna/edit/{{element.id}}">{{ element.title }} </a></td>-->
        <td mat-cell *matCellDef="let element"><a routerLink="/tna/view/{{element.id}}">{{ element.title }} </a></td>
      </ng-container>

      <ng-container matColumnDef="pi">
        <th mat-header-cell *matHeaderCellDef> Principal Investigator</th>
        <td mat-cell *matCellDef="let element"> {{ element.pi }}</td>
      </ng-container>

      <ng-container matColumnDef="connected">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Connected to another TNA</th>
        <td mat-cell *matCellDef="let element">
          @if (element.connected === 'yes') {
            <a style="cursor: pointer" routerLink="/tna/edit/{{element.connectedProject}}">
              {{ element.connected | uppercase}}
            </a>
          } @else {
            {{ element.connected | uppercase }}
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
        <td mat-cell *matCellDef="let element" [class.redText] = "element.status == 'submitted'">
          {{ element.status | titlecase }}
        </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
          @if(element.enableEdit) {
            <button mat-icon-button routerLink="/tna/edit/{{element.id}}">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
          } @else {
            <button mat-icon-button>
              <mat-icon class="edit-icon">edit_off</mat-icon>
            </button>
          }
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator pageSize="10" [length]="totalHits" (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
