.user-profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  text-align: center;
}

.item {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

a {
  color: steelblue;
}

.edit-icon {
  color: steelblue;
}

.redText {
  color: #D8524B;
  font-weight: bold;
}

.greenText {
  color: #A0C491;
}
