.containerElement {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 70%;
  max-width: 900px;
}

.main-container {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

input.ng-invalid.ng-touched {
  color: red;
}

.help-block {
  display: inline;
  margin-left: 10px;
}

.form-heading {
  color: forestgreen;
  margin-top: 20px;
}

mat-card-subtitle {
  /*font-style: italic;*/
}

.redHeader {
  background-color: #DC143C;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

mat-form-field {
  width: 90%;
  input {

  }
}

.flex-container {
  display: flex;
  width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 10px;
}

.boldText{
  width: 90%;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.bolderText{
  font-weight: bold;
  font-size: 18px;
  width: 90%;
  height: auto;
  margin: 10px auto;
  position: relative;
  text-align: left;
}

.sectionInformation {
  font-style: italic;
  text-align: left;
  color: #808080;
  width: 90%;
  height: auto;
  margin: 10px auto;
  position: relative;
}

.connectedApplication {
  margin-top: 10px;
}

.fieldsPosition {
  text-align: center;
}

.formButtons {
  text-align: center;
  margin-bottom: 40px;
  width: 50%;
}

.leftAlign {
  text-align: left;
  width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

marginBottom {
  margin-bottom: 10px;
}

hr {
  margin-bottom: 15px;
}

.participantForm {
  padding: 30px 10px 10px 10px;
  margin-bottom: 20px;
}

.removeButton {
  margin-bottom: 10px;
}

hr.participant {
  border-top: 1px dashed dimgray;
  margin-bottom: 20px;
  opacity: 0.5;
}
