<div class="main-container">
  <div class="containerElement">
    <div class="alert alert-danger alert-white rounded" *ngIf="!enableEdit">
      <div class="icon"><i class="fa fa-times-circle"></i></div>
      <strong>Important!</strong>  You do not have permission to edit this TNA Project details.
      Please contact helpdesk if you have any query regarding this entry by sending us an email on
      <a href="mailto:faang-dcc@ebi.ac.uk?Subject=Submission%20Tool%20Downtime" target="_top">
        <span class="emailStyle">faang-dcc&#64;ebi.ac.uk</span></a>.
      <div class="submittedText" *ngIf="tnaProjectDetails['record_status'] === 'submitted'">
        This submission has already been submitted
      </div>
    </div>
    <form [formGroup]="tnaForm">
      <h1 class="form-heading">TNA User Information</h1>
      <hr/>
      <div class="fieldsPosition" style="display: none">
        <div class="boldText">Principal Investigator</div>
        <div class="sectionInformation">Please provide the following information for the principal investigator</div>
        <div formGroupName="principalInvestigator">
          <mat-form-field appearance="fill">
            <input matInput formControlName="principalInvestigatorId">
          </mat-form-field>
          <br>
        </div>
      </div>

      <div class="fieldsPosition piClass" *ngIf="userFullName.trim().length > 0">
        <div class="boldText">Principal Investigator: {{userFullName}}</div>
      </div>

      <div class="fieldsPosition">
        <div class="boldText">Additional participants</div>
        <div class="sectionInformation">If applicable, please provide for each additional participant the same
          information
          requested for the principal investigator
        </div>
        <div formGroupName="participants">
          <div formArrayName="participantFields">
            <div *ngFor="let filterField of getFormControls(); let i = index"
                 [formGroupName]="i">
              <div class="participantForm">
                <mat-form-field appearance="fill">
                  <mat-label>First name</mat-label>
                  <input matInput formControlName="firstname">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Last name</mat-label>
                  <input matInput formControlName="lastname">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName="phone">
                </mat-form-field>
                <span
                  *ngIf="!tnaForm.get('phone')?.valid && tnaForm.get('phone')?.touched"
                  class="help-block">Please enter a valid phone number!
                </span>
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>
                <span
                  *ngIf="!tnaForm.get('email')?.valid && tnaForm.get('email')?.touched"
                  class="help-block">Please enter a valid email!
                </span>
                <br>
                <div formGroupName="organisation">
                  <mat-form-field appearance="fill">
                    <mat-label>Organisation name</mat-label>
                    <input matInput formControlName="organisationName">
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>Organisation address</mat-label>
                    <input matInput formControlName="organisationAddress">
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>Organisation country</mat-label>
                    <mat-select formControlName="organisationCountry">
                      <mat-option *ngFor="let country of countriesList" [value]="country">
                        {{ country }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                </div>
                <div class="removeButton" *ngIf="enableEdit">
                  <button mat-flat-button (click)="removeFilter(i)" color="warn">
                    Remove participant
                  </button>
                </div>
              </div>
              <hr class="participant"/>
            </div>
            <div class="icon-style" *ngIf="enableEdit">
              <button mat-flat-button color="primary" (click)="addFilterFormGroup()">
                Add new participant
              </button>
            </div>
          </div>
        </div>
      </div>

      <h1 class="form-heading">TNA Project Information</h1>
      <hr/>
      <div class="fieldsPosition">
        <div class="boldText">Is this application connected to another application in the current call of PIGWEB?</div>
        <div>
          <div formGroupName="projectInformation" class="leftAlignxxx">
            <div class="leftAlign">
              <mat-radio-group aria-label="Select an option" formControlName="applicationConnection">
                <mat-radio-button value="no" [checked]="true">No</mat-radio-button>
                <mat-radio-button value="yes">Yes</mat-radio-button>
              </mat-radio-group>
            </div>
            <div
              *ngIf="tnaForm.get('projectInformation.applicationConnection')?.value === 'yes'"
              class="connectedApplication">
              <div class="leftAlign marginBottom">
                If yes, please provide the project’s title.
              </div>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Associated application</mat-label>
                  <mat-select formControlName="associatedProjectTitle">
                    <mat-option *ngFor="let project of tnaProjectsList" [value]="getProjectId(project)">
                      {{ getProjectTitle(project) }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
              </div>
            </div>

            <div class="redHeader">
              Please do not enter any personal or confidential data below.
            </div>

            <mat-form-field appearance="fill">
              <mat-label>Project Title</mat-label>
              <input matInput formControlName="projectTitle">
            </mat-form-field>
            <br>
            <div class="boldText">Preferred research installation</div>
            <div class="sectionInformation">If applicable, please indicate your first, second and third preference of
              research installation.
            </div>

            <div class="flex-container" formGroupName="preferredResearchInstallation">
              <div class="flex-child">
                <mat-form-field appearance="fill">
                  <mat-label>Preference 1</mat-label>
                  <mat-select formControlName="preference1">
                    <mat-option *ngFor="let choice of firstPreferences" [value]="choice">{{ choice }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="flex-child">
                <mat-form-field appearance="fill">
                  <mat-label>Preference 2</mat-label>
                  <mat-select formControlName="preference2">
                    <mat-option *ngFor="let choice of secondPreferences" [value]="choice">{{ choice }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="flex-child">
                <mat-form-field appearance="fill">
                  <mat-label>Preference 3</mat-label>
                  <mat-select formControlName="preference3">
                    <mat-option *ngFor="let choice of thirdPreferences" [value]="choice">{{ choice }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <hr/>

            <div formGroupName="rationale">
              <div class="bolderText">RATIONALE</div>
              <div class="boldText">Context</div>
              <div class="sectionInformation">Describe the general context in which the project fits: outline the
                problem statement and indicate
                the relevance. Maximum 1500 characters, spaces included.
              </div>

              <mat-form-field appearance="fill">
                <mat-label>Click to add text</mat-label>
                <textarea matInput
                          formControlName="context"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          rows="3">
              </textarea>
              </mat-form-field>
              <br>
              <div class="boldText">Objective(s)</div>
              <div class="sectionInformation">Briefly state the overall objective(s) of your project. Maximum 500
                characters, spaces included.
              </div>
              <mat-form-field appearance="fill">
                <mat-label>Click to add text</mat-label>
                <textarea matInput
                          formControlName="objective"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          rows="3">
              </textarea>
              </mat-form-field>
              <br>
              <div class="boldText">Impact</div>
              <div class="sectionInformation">Assess the expected impact of your project on sustainable pig production:
                describe the potential
                interest for the pig industry and the compliance with the European Green Deal. Maximum 1000 characters,
                spaces included.
              </div>
              <mat-form-field appearance="fill">
                <mat-label>Click to add text</mat-label>
                <textarea matInput
                          formControlName="impact"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          rows="3">
              </textarea>
              </mat-form-field>
              <br>
            </div>
            <hr/>

            <div formGroupName="scientificQuality">
              <div class="bolderText">SCIENTIFIC QUALITY</div>
              <div class="boldText">State of the art</div>
              <div class="sectionInformation">Present the state of the art: describe the current knowledge and indicate
                the gaps. Maximum 1500
                characters, spaces included.
              </div>

              <mat-form-field appearance="fill">
                <mat-label>Click to add text</mat-label>
                <textarea matInput
                          formControlName="stateArt"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          rows="3">
              </textarea>
              </mat-form-field>
              <br>
              <div class="boldText">Scientific question and hypothesis</div>
              <div class="sectionInformation">Define a clear scientific question to which the project should provide an
                answer; formulate the
                appropriate hypothesis and describe the degree of innovation. Maximum 1500 characters, spaces included.
              </div>
              <mat-form-field appearance="fill">
                <mat-label>Click to add text</mat-label>
                <textarea matInput
                          formControlName="questionHypothesis"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          rows="3">
              </textarea>
              </mat-form-field>
              <br>
              <div class="boldText">Approach</div>
              <div class="sectionInformation">Briefly explain the approach to provide an answer to your scientific
                question: explain why the
                installation provided by PIGWEB offers added value and give an indication of the intended experimental
                design. Maximum 1000 characters, spaces included.
              </div>
              <mat-form-field appearance="fill">
                <mat-label>Click to add text</mat-label>
                <textarea matInput
                          formControlName="approach"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          rows="3">
              </textarea>
              </mat-form-field>
              <br>
            </div>
            <hr/>

            <div formGroupName="valorizationStrategy">
              <div class="bolderText">VALORIZATION STRATEGY</div>
              <div class="sectionInformation">Describe the intended valorization strategy: explain what the data will be
                used for (e.g. open data,
                scientific publication, patent or registration procedure). Maximum 1000 characters, spaces included.
              </div>
              <mat-form-field appearance="fill">
                <mat-label>Click to add text</mat-label>
                <textarea matInput
                          formControlName="strategy"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          rows="3">
              </textarea>
              </mat-form-field>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="flex-container formButtons">
        <ng-container *ngIf="enableEdit">
          <div class="flex-child">
            <button mat-flat-button color="primary" type="submit" (click)="openDialog('save')">Save</button>
          </div>
          <div class="flex-child">
            <button mat-flat-button color="primary" type="submit" (click)="openDialog('submit')">Submit</button>
          </div>
        </ng-container>
        <div class="flex-child">
          <button mat-flat-button color="primary" (click)="openDialog('cancel')">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

