<div class="login-form-container">

  <div class="item" *ngIf="!formSubmitted">
    <h2>Please Log in</h2>
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>User name</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
      @if (error) {
        <div class="error-message">
          <mat-error>User name or password is not correct. Please try again</mat-error>
        </div>
      }
      <br>
      <div class="button-container">
        <button mat-flat-button color="primary" type="submit">LOG IN</button>
      </div>
    </form>
  </div>
  <div class="item" *ngIf="formSubmitted">
    <mat-spinner></mat-spinner>
  </div>
</div>
