.login-form-container {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

.item {
  margin-top: 15px;
  max-width: 210px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.error-message {
  width: 100%;
  text-align: center;
}
