<div class="participant-details">
  <dl>
    <dt>Name</dt>
    <dd>{{ participantDetails['first_name'] }} {{ participantDetails['last_name'] }}</dd>
    <dt>Phone</dt>
    <dd>{{ participantDetails['phone_number'] }}</dd>
    <dt>E-mail</dt>
    <dd>{{ participantDetails['email'] }}</dd>
    <dt>Organisation name</dt>
    <dd>{{ participantDetails['organization_name'] }}</dd>
    <dt>Organisation address</dt>
    <dd>{{ participantDetails['organization_address'] }}</dd>
    <dt>Organisation country</dt>
    <dd>{{ participantDetails['organization_country'] }}</dd>
  </dl>
</div>


